<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu - 3D Camera Calibration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

    
<body>

    <div class="title-section">
        <h1>3D CAMERA CALIBRATION (geometry and 3D reconstruction)</h1>
        <h2>A project developed by Stefano Bonetto and Simone Roman</h2>
    </div>

    <hr>

   
        

        <div class="button-container">
            <button class="menu-button" onclick="location.href='/point_projection'">Point Projection</button>
            <button class="menu-button" onclick="location.href='/ball_tracking'">Ball Tracking</button>
        </div>
        


</body>


</html>
