<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu - 3D Camera Calibration</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        
    </style>
</head>

<body>

    <div class="title-section">
        <h1 style="font-size: 48px;">3D CAMERA CALIBRATION (geometry and 3D reconstruction)</h1>
        <br>
        <hr>
        <br>
        <h2 style="font-size: 30px;">A project developed by Stefano Bonetto and Simone Roman</h2>
    </div>

    <hr>
    <hr>

    <div class="button-container">
        <!-- Point Projection Button -->
        <button onclick="location.href='/point_projection'" style="font-size: 36px; padding: 30px 60px;">Point Projection</button>

        <!-- Ball Tracking Button -->
    </div>

</body>

</html>
